@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/Lato-Hairline.ttf')  format('truetype');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}


body {
    background: #F8F8F8;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5 {
    color: #252e1c;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

a, a:link, a:visited {
    color: #849E6B;
}
